.top a{
    background-color: black;
    
}
.main{
    background-color: black; 
}
.main li{
    text-decoration: none;
}
.main ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items :start;
    gap: 50px;
    margin-right: 20px;
   margin-top: 20px;
}
.main ul::before{
    color: white;
    text-decoration: none;
}
.main ul ::after{
    color: orange;
    text-decoration: none;
}
.main .cont{
 display: flex;
 flex-wrap: wrap;
 gap: 200px;
 height: auto;
 font-size: 20px;
 
}
.cont img{
    width: 100px;
    height: 50px;
    fill: black;
    margin-left: 10px;
    margin-bottom: 10px;
}

.container-right h4{
    font-weight: 600;
    font-size: 24px;
    color: orangered;
}

.container-right p{
    font-weight: 300;
    font-size: 20px;
    color: gray;
}
.container-right h1{
    font-weight: 600;
    font-size: 40px;
    color: black;
}
.container-right h3{
    font-weight: 600;
    font-size: 25px;
    color: black;
}
.container .img3{
    height: 200px;
    margin-top: 1000px;
}
.line{
    border: 1px solid lightgray;
    /* width: 1090px; */
    margin-left: 100px;
}
.mail {
    background: url('../images/home/4.png');
   font-size: 25px;
   align-items: center;
   justify-content: center;
   margin-left: 350px;
   color: black;
}
.mail span{
    color: orangered;
}
.cont2{
  background: url('../images/bg.webp');
  height: 100%;
  position: relative;
  text-align: center;
  color: black; 
  margin-top: 40px;
}


.centered h3{
    color: orangered;
    font-weight: 700;
    font-size: 20px;
}
.centered h1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
}



.centered {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px; */
    width: 100%;
}

.pack {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.c-left, .c-right {
    width: 48%;
    position: relative;
}

.c-left {
    text-align: left;
}

.c-right {
    text-align: left;
}

.c-left p:first-child, .c-right p:first-child {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    transition: color 0.3s ease;
}

.c-left h2, .c-right h2 {
    margin: 0.5em 0;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
}


.c-left p:first-child, .c-right p:first-child {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    transition: color 0.3s ease;
}

.c-left p:first-child:hover, .c-right p:first-child:hover, .c-left h2:hover, .c-right h2:hover {
    color: orangered;
}

.c-left h2, .c-right h2 {
    margin: 0.5em 0;
    color: black;
    transition: color 0.3s ease;
}

.c-left p:last-child, .c-right p:last-child {
    font-size: 1rem;
    color: gray;
}


.cont2 img {
    width: 100%;
    /* height: 800px; */
}

.c-left h2::before, .c-right h2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 60%; 
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.c-left h2:nth-child(1):hover::before {
    background-image: url('./images/1.avif');
    opacity: 1;
}

.c-right h2:nth-child(1):hover::before {
    background-image: url('./images/2.webp');
    opacity: 1;
}

.c-left h2:nth-child(2):hover::before {
    background-image: url('./images/3.webp');
    opacity: 1;
}

.c-right h2:nth-child(2):hover::before {
    background-image: url('./images/4.jpg');
    opacity: 1;
   
}
.multi h4{
   color: orangered;
   font-weight: 600;
   font-size: 24px;
}

.multi h1{
    font-weight: 600;
    font-size: 40px;
    color: black;
}

.grid-section {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
}

.container:hover .hover-text {
    display: block;
}

.styled-link {
    color: orange;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: 1; /* Ensure the link text is above the pseudo-element */
}

.styled-link:hover {
    background-color: orange;
}

.styled-link::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;  /* Increase the size by 10% on each side */
    height: 120%; /* Increase the size by 10% on each side */
    border-radius: 50%;
    background-color: orange;
    transform: translate(-50%, -50%); /* Center the pseudo-element */
    transition: background-color 0.3s;
    z-index: -1; /* Ensure the pseudo-element is behind the text */
}

.styled-link:hover::after {
    background-color: black;
    width: 10%;
}









/* Hide the text initially */
.hover-text {
    position: absolute;
    display: none; /* Hide the text initially */
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background color to the text */
    padding: 8px;
    border-radius: 4px;
}

/* Position the text */
.top-right {
    top: 8px;
    right: 16px;
}

.bottom-left {
    bottom: 8px;
    left: 16px;
}

/* Show the text on hover */
.container:hover .hover-text {
    display: block;
}

.left-side h4{
    color: orangered;
    font-weight: 600;
    font-size: 24px;
}
.left-side h1{
    color: black;
    font-weight: 600;
    font-size: 40px;
}

.cont3 img{

    height: 800px;
    width: 1250px;
}
.cont3 {
    position: relative;
    text-align: center;
    color: white; 
    margin-top: 40px;
}
.centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
}
.pack2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
   
}
.pack2 table{
   width: 1500px;
   height: 500px;
}
.centered2 h3{
    color: orangered;
    font-weight: 700;
    font-size: 25px;
    margin-top: 0px;
}
.centered2 h1{
    font-weight: 600;
    font-size: 40px;
    color: white;
}

.grid2-section{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.c2-left, .c2-right-one .c2-right-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.c2-left {
    flex: 3;
}

.c2-right-one  {
    flex: 1;
   
}
.c2-right-two{
    flex: 1;
}
.c2-right-one img{
    width: 300px;
   
    
}
.c2-right-two img{
    width: 300px;
  
    
}

.container:hover .hover-text {
    display: block;
}
.c2-left h3{
    color: orangered;
    font-weight: 700;
    font-size: 20px;
}
.c2-left h1{
    color: black;
    font-weight: 600;
    font-size: 40px;
}

.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    fill: #666;
  }
  
  .rating{
    margin-right: 390px;
    
  }
  .rating:not(:checked) > label > svg {
    fill: #666; /* Set default color for SVG */
    transition: fill 0.3s ease; /* Add a transition effect */
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    fill: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    fill: #ff9e0b;
  }
  
  .rating > input:checked ~ label > svg {
    fill: orangered; /* Set color for selected stars */
  }
  .dope{
    font-size: 18px;
    color: gray;
  }
 .don{
    display: flex;
    gap: 30px;
 } 
.don-icon{
    fill: black;
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    gap: 30px;
    
}
.cont4 {
    position: relative;
    text-align: center;
    color: black;
    margin-top: 40px;
}

.cont4 img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

.centered3 h3{
    color: orangered;
    font-weight: 700;
    font-size: 20px;
}
.centered3 h1{
    font-size: 50px;
    font-weight: 600;
    margin-left: 350px;
}


.centered3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
}


.pop {
    display: flex;
    gap: 170px;
}
.pop a{
    margin-top: 200px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}
.over{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-1 {
    width: 190px;
    height: 260px;
    border-radius: 20px;
    /* background: #f5f5f5; */
    position: relative;
    padding: 1.8rem;
    border: 2px solid #000000;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    overflow: visible;
  }


  
  .card-details-1 {
    color: white;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
    /* font-family: 'Courier New', Courier, monospace; */
  }

  #rcorners2 {
    border-radius: 50px 15px 30px 15px;
    background: lightgray;
    /* padding: 20px;  */
    /* width: 250px;
    height: 200px; */
    border-right: 5px solid rgb(0, 106, 255); 
    box-sizing: border-box;
}


  .card-button-1 {
    text-decoration: none;
    text-align: center;
    -webkit-transform: translate(-50%, 125%);
    -ms-transform: translate(-50%, 125%);
    transform: translate(-50%, 125%);
    width: 70%;
    border-radius: 1rem;
    border: none;
    background-color: white;
    color: #000;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .text-body {
    color: rgb(134, 134, 134);
  }
  
  /*Text*/
  .text-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  /*Hover*/
  .card-1:hover {
    border-color: black;
    -webkit-box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
    box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
  }
  
  .card-1:hover .card-button-1 {
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    opacity: 1;
    background-color: black;
    color: white;
  }

  .card-1 img {
    width: 100%;
    height: 200px; 
    object-fit: contain;
    border-radius: 20px 20px 0 0;
}

.text-small {
    font-size: 0.9rem;
  }
  
 .list-unstyled a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
 .list-unstyled a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: #212529;
   
  }
  
.total-cards{
    margin-left: 200px;
}  
.headings h3{
    color: orangered;
    font-weight: 700;
    font-size: 25px;
    margin-left: 500px;
    margin-top: 30px;
}
.headings h1{
    font-weight: 600;
    font-size: 50px;
    color: black;
    margin-left: 300px;
    margin-bottom: 30px;
}
.navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    padding: 1% 2%;
    z-index: 9999;
    /* top: 10px; */
    background: transparent !important;
    /* color: black; */
}
.navactive { 
    background-color: black !important;
}
.nav-item a{
    color: white;
}
.nav-item a:hover {
    color: orangered;

} 
.dropdown-menu a{
    color: black;
}




.custom-footer {
    background-color: black;
    color: white;
}

.custom-footer .text-muted {
    color: #6c757d !important;
}

.custom-footer a {
    color: white;
    text-decoration: none;
}

.custom-footer a:hover {
    color: #d4d4d4;
}

.custom-footer .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .form-control:focus, .form-control:active {
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  textarea.form-control {
    height: inherit !important; }
  
  .block-21 .img {
    display: block;
    height: 80px;
    width: 80px; 
    object-fit: cover;
  }
  
  .block-21 .text {
    width: calc(100% - 100px); }
    .block-21 .text .heading {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4; }
      .block-21 .text .heading a {
        color: #000; }
        .block-21 .text .heading a:hover, .block-21 .text .heading a:active, .block-21 .text .heading a:focus {
          text-decoration: none; }
    .block-21 .text .meta > div {
      display: inline-block;
      font-size: 12px;
      margin-right: 5px; }
      .block-21 .text .meta > div a {
        color: gray; }
  
  .block-23 ul {
    padding: 0; }
    .block-23 ul li, .block-23 ul li > a {
      display: table;
      line-height: 1.5;
      margin-bottom: 15px; }
    .block-23 ul li .icon, .block-23 ul li .text {
      display: table-cell;
      vertical-align: top; }
    .block-23 ul li .icon {
      width: 40px;
      font-size: 18px;
      padding-top: 2px; }
  
  .block-24 a.img {
    width: 100%;
    height: 100px;
    display: block; }
  
  .ftco-section {
    padding: 12em 0; }
    .ftco-section h2 {
      margin-bottom: 0; }
  
  footer {
    padding: 7em 0; }
  
  .footer-09 {
    background: #2a1a5e;
    background: -moz-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #2a1a5e), color-stop(100%, #5126a7));
    background: -webkit-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    background: -o-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    background: -ms-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    background: linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1a5e', endColorstr='#5126a7', GradientType=1 ); }
    .footer-09 .border-top {
      border-color: rgba(255, 255, 255, 0.1) !important; }
    .footer-09 a {
      color: #fe59d7; }
      .footer-09 a:hover {
        color: rgba(255, 255, 255, 0.9); }
    .footer-09 p {
      color: rgba(255, 255, 255, 0.3); }
    .footer-09 .footer-heading {
      color: #fff;
      font-size: 22px;
      margin-bottom: 30px; }
      .footer-09 .footer-heading .icon {
        width: 40px;
        margin-right: 10px;
        border-radius: 50%;
        height: 40px;
        display: block;
        color: #fe59d7;
        border: 1px solid #fe59d7; }
    .footer-09 ul.list-unstyled li a {
      color: rgba(255, 255, 255, 0.5); }
    .footer-09 .block-21 .heading a {
      color: rgba(255, 255, 255, 0.5); }
    .footer-09 .block-21 .meta div a {
      color: rgba(255, 255, 255, 0.3); }
    .footer-09 .block-23 ul li {
      color: rgba(255, 255, 255, 0.5); }
    .footer-09 .subscribe-form .form-group {
      position: relative;
      margin-bottom: 0;
      border-radius: 0; }
      .footer-09 .subscribe-form .form-group input {
        background: rgba(0, 0, 0, 0.05) !important;
        border: 2px solid #fe8ce3 !important;
        outline: none !important;
        color: rgba(255, 255, 255, 0.3) !important;
        font-size: 16px;
        border-radius: 0; }
        .footer-09 .subscribe-form .form-group input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input:-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(255, 255, 255, 0.3) !important; }
        .footer-09 .subscribe-form .form-group input:focus {
          outline: none !important;
          -webkit-box-shadow: none;
          box-shadow: none; }
      .footer-09 .subscribe-form .form-group .submit {
        color: #fff !important;
        display: block;
        width: 52px;
        height: 52px;
        font-size: 16px;
        background: #fe8ce3 !important;
        border: none;
        border-radius: 0; }
        .footer-09 .subscribe-form .form-group .submit:hover, .footer-09 .subscribe-form .form-group .submit:focus {
          text-decoration: none !important;
          outline: none !important; 
        }
        .container-fluid {
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto; }
        
        .row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px; }
        
        .no-gutters {
          margin-right: 0;
          margin-left: 0; }
          .no-gutters > .col,
          .no-gutters > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
           }
           .social-icons {
            display: flex;
            gap: 20px;
          }
          .social-icons a {
            color: white; /* Default color */
            font-size: 20px;
            transition: color 0.3s ease; /* Smooth transition for color change */
          }
          .social-icons a:hover {
            color: orangered; /* Color on hover */
          }  

















@media only screen and (max-width: 768px) {
    span.navbar-toggler-icon {
        background-color: transparent !important;
    }
    .container{
        display: block;
        gap: 5px;
    }
    .main{
        height: 40vh;
    }
    .container img {
        width: 200px;
        height: 120px;
        border-radius: 4px;
    }
    .container-right h4{
        font-weight: 600;
        font-size: 14px;
        color: orangered;
    }
    
    .container-right p{
        font-weight: 300;
        font-size: 20px;
        color: gray;
    }
    .container-right h1{
        font-weight: 600;
        font-size: 20px;
        color: black;
    }
    .container-right h3{
        font-weight: 600;
        font-size: 15px;
        color: black;
    }
    .line{
        border: 1px solid lightgray;
        width: 300px;
        margin-left: 50px;
    }
    .mail {
        font-size: 15px;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        margin-bottom: 150px;
        margin-top: 1000px;
     }
     .mail span{
         color: orangered;
     }
     .cont2{
        position: relative;
      text-align: center;
      color: black; 
      margin-top: 40px;
      max-height: 500px;
    }
    .cont3 img{

        height: 800px;
        width: auto;
    }
    .grid-section {
        display: flex;
        padding: 20px;
        gap: 10px;
        margin-top: 10px;
    }

    .left-side h4{
        color: orangered;
        font-weight: 600;
        font-size: 14px;
    }
    .left-side h1{
        color: black;
        font-weight: 600;
        font-size: 25px;
    }
    .centered2 h3{
        color: orangered;
        font-weight: 700;
        font-size: 15px;
        margin-top: 0px;
    }
    .centered2 h1{
        font-weight: 600;
        font-size: 25px;
        color: white;
    }
    
    .c2-right-one img{
        width: 150px; 
    }
    .c2-right-two img{
        width: 150px;
    }
    .c2-right-one .c2-right-two {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .grid2-section {
        display: block;
       
    }
    .rating{
        margin-right: 90px;
        
      }
      .don{
        display: flex;
        gap: 9px;
     } 
    .don-icon{
        fill: black;
        width: 200px;
        margin-top: 50px;
        margin-left: 18px;
        display: flex;
        gap: 30px;
        
    }
    .cont4 {
        position: relative;
        text-align: center;
        color: black;
        margin-top: 40px;
    }
    
    .cont4 img {
        width: 100%;
        height: 1000px;
        object-fit: cover;
    }
    
    .centered3 h3{
        color: orangered;
        font-weight: 700;
        font-size: 20px;
    }
    .centered3 h1{
        font-size: 30px;
        font-weight: 600;
        margin-left: 30px;
    }
    
    
    .centered3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1200px;
    }
    .pop {
        display: flex;
        gap: 20px;
    }
    .pop a{
        margin-top: 100px;
        text-decoration: none;
        color: black;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .over{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
    }
    .headings h3{
        color: orangered;
        font-weight: 700;
        font-size: 15px;
        margin-left: 130px;
        margin-top: 30px;
    }
    .headings h1{
        font-weight: 600;
        font-size: 30px;
        color: black;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .total-cards{
        margin-left: 20px;
    } 
    .pack {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 1300px;
    }
    .c-left, .c-right {
        width: 38%;
        position: relative;
       max-height: fit-content;
    }
    .c-left h2, .c-right h2 {
        margin: 0.5em 0;
        font-size: 25px;
        font-weight: bolder;
        cursor: pointer;
        color: black;
        transition: color 0.3s ease;
    }
    
    
    .c-left p:first-child, .c-right p:first-child {
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
        transition: color 0.3s ease;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .container{
        display: block;
        gap: 5px;
    }
    .container img {
        width: 200px;
        height: 250px;
        border-radius: 4px;
    }
    .container-right h4{
        font-weight: 600;
        font-size: 14px;
        color: orangered;
    }
    
    .container-right p{
        font-weight: 300;
        font-size: 20px;
        color: gray;
    }
    .container-right h1{
        font-weight: 600;
        font-size: 20px;
        color: black;
    }
    .container-right h3{
        font-weight: 600;
        font-size: 15px;
        color: black;
    }
    .line{
        border: 1px solid lightgray;
        width: 500px;
        margin-left: 150px;
    }
    .mail {
        font-size: 15px;
        align-items: center;
        justify-content: center;
        margin-left: 270px;
        margin-bottom: 10px;
     }
     .mail span{
         color: orangered;
     }
     .cont2{
        position: relative;
      text-align: center;
      color: black; 
      margin-top: 40px;
    }
    .cont3 img{

        height: 650px;
        width: 880px;
    }
    .grid-section {
        display: flex;
        padding: 20px;
        gap: 10px;
        margin-top: 150px;
    }

    .left-side h4{
        color: orangered;
        font-weight: 600;
        font-size: 14px;
    }
    .left-side h1{
        color: black;
        font-weight: 600;
        font-size: 25px;
    }
    .centered2 h3{
        color: orangered;
        font-weight: 700;
        font-size: 15px;
        margin-top: 0px;
    }
    .centered2 h1{
        font-weight: 600;
        font-size: 25px;
        color: white;
    }
    
    .c2-right-one img{
        width: 200px; 
    }
    .c2-right-two img{
        width: 200px;
    }
    .c2-right-one .c2-right-two {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .grid2-section {
        display: flex;
       
    }
    .rating{
        margin-right: 90px;
        
      }
      .don{
        display: flex;
        gap: 9px;
     } 
    .don-icon{
        fill: black;
        width: 200px;
        margin-top: 50px;
        margin-left: 18px;
        display: flex;
        gap: 30px;
        
    }
    .cont4 {
        position: relative;
        text-align: center;
        color: black;
        margin-top: 40px;
    }
    
    .cont4 img {
        width: 100%;
        height: 1000px;
        object-fit: cover;
    }
    
    .centered3 h3{
        color: orangered;
        font-weight: 700;
        font-size: 20px;
    }
    .centered3 h1{
        font-size: 30px;
        font-weight: 600;
        margin-left: 30px;
    }
    
    
    .centered3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1200px;
    }
    .pop {
        display: flex;
        gap: 20px;
    }
    .pop a{
        margin-top: 100px;
        text-decoration: none;
        color: black;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .over{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
    }
    .headings h3{
        color: orangered;
        font-weight: 700;
        font-size: 25px;
        margin-left: 350px;
        margin-top: 30px;
    }
    .headings h1{
        font-weight: 600;
        font-size: 40px;
        color: black;
        margin-left: 200px;
        margin-bottom: 30px;
    }
    .total-cards{
        margin-left: 50px;
    } 
}