

body {
  background-color: #1d1e22;
  color: #ffffff;


  .btn-main {
    background-color: orangered;
    color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  }
  .btn-main:hover {
    background-color: #333642 ;
  }
  .divider-shape {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 3px solid rgba(0, 0, 0, 0.15);
    background-color: #46a049;
    width: 4rem;
  }
 
  .services {
    background-color: #ffffff;
    color: #1d1e22;
    border-bottom: 1px solid #cdcdcd;
    .container {
      .row {
        .col-sm-4 {
          .card:hover {
            background-color: #46a049;
            color: #ffffff;
            cursor: pointer;
            transition: background-color 0.5s ease-in, color 0.5s ease-in;
          }
        }
      }
    }
  }
  .work {
    background-color: #ffffff;
    color: #1d1e22;
    border-bottom: 1px solid #cdcdcd;
  }
  .about {
    background-color: #ffffff;
    color: #1d1e22;
    border-bottom: 1px solid #cdcdcd;

    .card-img-overlay {
      background-color: rgba(0, 0, 0, 0.7);
    }
    .card:hover .card-img-overlay {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .card1 img {
      max-height: 420px;
      object-fit: cover;
    }
    .card2 img,
    .card3 img {
      max-height: 200px;
      object-fit: cover;
    }
    @media (max-width: 768px) {
      .card1 img {
        max-height: 300px;
      }
      .card2 img,
      .card3 img {
        max-height: 300px;
        width: 100%;
      }
    }
  }
  .testimonial {
    background-color: #ffffff;
    color: #1d1e22;
    border-bottom: 1px solid #cdcdcd;
  }
  .blog {
    background-color: #ffffff;
    color: #1d1e22;
    border-bottom: 1px solid #cdcdcd;
  }
  .footer-cta {
    background-color: #333642;
    color: #ffffff;
    border-bottom: 1px solid #cdcdcd;
  }
  .address-bar {
    background-color: #46a049;
    color: #1d1e22;
    border-bottom: 1px solid #cdcdcd;
    a {
      color: #ffffff;
    }
    a:hover {
      color: #1d1e22;
    }
  }
  .footer-bar {
    background-color: #1d1e22;
    color: #ffffff;
    border-bottom: 1px solid #cdcdcd;
  }
  .darkthemebtn {
    position: fixed;
    right: -0.2rem;
    bottom: 50px;
    background-color: #1d1e22;
    color: #ffffff;
  }
  .darkthemebtn:hover {
    color: #46a049;
  }
  .back-to-top {
    position: fixed;
    right: -0.2rem;
    bottom: 100px;
    background-color: #1d1e22;
    color: #ffffff;
    display: none;
  }
  .back-to-top:hover {
    color: #46a049;
  }
}

.dark-theme {
  .services {
    background-color: #1d1e22;
    color: #ffffff;
    .container {
      .row {
        .col-sm-4 {
          .card {
            background-color:#46a049;
          }
          .card:hover {
            color: #1d1e22;
          }
        }
      }
    }
  }
  .work {
    background-color: #1d1e22;
    color: #ffffff;
  }
  .about {
    background-color: #1d1e22;
    color: #ffffff;
  }
  .testimonial {
    background-color: #1d1e22;
    color: #ffffff;
  }
  .blog {
    background-color: #1d1e22;
    color: #ffffff;
  }
  /* .footer-cta {
  }
  .address-bar {
  }
  .footer-bar {
  } */
  .darkthemebtn {
    background-color: #ffffff;
    color: #1d1e22;
  }
}
